<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
      </encoder>
    </appender>

    <appender name="ALL-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/all.log</file>
        <append>false</append>
        <encoder>
            <pattern>%relative [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERR-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/err.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%relative [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>
  
    <root level="debug">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="ALL-FILE" />
      <appender-ref ref="ERR-FILE" /> 
    </root>
  </configuration>