/* JavaFX documentation recommends that you put each attribute on it's own line, 
rather than defining size, colour, style etc. all on one single line.*/



code,
kbd,
pre,
samp {
  -fx-font-family: couriernew, courier, monospace;
}

small {
  -fx-font-size: 12px;
}

ul,
ol {
  -fx-list-style: none;
}

a {
  -fx-text-decoration: none;
}

a:hover {
  -fx-text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  -fx-color: #000;
}

fieldset,
img {
  -fx-border: 0;
}

VBox,
HBox {
  -fx-font: 12px/1.5tahoma, arial, \5b8b\4f53;
  -fx-background-color: rgb(54, 47, 58);
}

.root {
  -fx-font: 12px/1.5tahoma, arial, \5b8b\4f53;
  -fx-background-color: rgb(54, 47, 58);
} 

Button {
  -fx-background-color: rgb(47, 52, 58);
  -fx-alignment: relative;
  -fx-color: rgb(47, 52, 58);
  -fx-cursor: pointer;
  -fx-font-size: 14px;
  -fx-text-fill: white;
  -fx-margin: 100px
}

Button:hover {
  -fx-transition: all .5s;
  -fx-transform: rotate(90deg);
}

input,
select,
TextArea {
  -fx-font-size: 100%;
  -fx-text-fill: white;
  -fx-border-color: rgb(24, 21, 26);
}

table {
  -fx-border-collapse: collapse;
  -fx-border-spacing: 0;
}