/* defines a styleclass, this styleclass can be
   applied to objects in javafx-scenebuilder

   current colours are ripped off from discord*/

/* JavaFX documentation recommends that you put each attribute on it's own line, 
rather than defining size, colour, style etc. all on one single line.*/

* {
  border: 1px solid black;
}

* {
  -fx-margin: 0;
  -fx-padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  -fx-margin: 0;
  -fx-padding: 0;
}

body,
button,
input,
select,
textarea {
  -fx-font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -fx-font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  -fx-font-style: normal;
}

code,
kbd,
pre,
samp {
  -fx-font-family: couriernew, courier, monospace;
}

small {
  -fx-font-size: 12px;
}

ul,
ol {
  -fx-list-style: none;
}

a {
  -fx-text-decoration: none;
}

a:hover {
  -fx-text-decoration: underline;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  -fx-color: #000;
}

fieldset,
img {
  -fx-border: 0;
}

button,
input,
select,
textarea {
  -fx-font-size: 100%;
}

table {
  -fx-border-collapse: collapse;
  -fx-border-spacing: 0;
}

::-webkit-scrollbar {
  -fx-width: 8px;
  -fx-height: 8px;
}

::-webkit-scrollbar-track {
  -fx-background: rgb(39, 40, 45);
  -fx-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -fx-background: rgba(128, 128, 150, 0.5);
  -fx-border-radius: 8px;
  -fx-width: 10px;
  -fx-height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  -fx-background: rgba(201, 201, 202, .5);
  -fx-border-radius: 8px;
}

body {
  -fx-background-color: rgb(47, 52, 58);
}

.top {
  -fx-width: 100%;
  -fx-height: 60px;
  -fx-alignment: relative;
  -fx-top: 0;
  -fx-left: 0;
  -fx-text-fill: black
}

.flexbox {
  -fx-display: flex;

}

.flex-list {
  -fx-overflow-y: scroll;
  -fx-flex-basis: 20%;
  -fx-background-color: rgb(32, 34, 37);
  -fx-height: 100vh;
}

.flex-use {
  -fx-flex-basis: 20%;
  -fx-background-color: rgb(32, 34, 37);

}

.flex-center {
  -fx-flex-basis: 60%;
  -fx-background-color: rgb(28,29,31);
  -fx-position: relative;
}

.top-menu {
  -fx-position: relative;
  -fx-display: flex;
}

.top-menu .menulist {
  -fx-display: flex;
  -fx-z-index: 99;
}

.top-menu .menulist > li {
  -fx-fit-to-width: 50px;
  -fx-fit-to-height: 35px;
  -fx-color: #232121;
  -fx-cursor: pointer;
  -fx-text-align: center;
  -fx-font-size: 12px;
  line--fx-height: 30px;
}

.top-menu .menulist > li:hover {
  -fx-background-color: rgba(0, 0, 0, 0.425);
  -fx-color: yellow;
}

.menulist > li > div {
  -fx-position: relative;
  -fx-background-color: rgb(102, 105, 110);
  -fx-display: none;
}

.menulist > li:hover div {
  -fx-display: block;
}

.top-content {
  -fx-fit-to-width: 250px;
  -fx-display: flex;
  -fx-height: 50px;
  -fx-margin: auto;
  -fx-justify-content: space-around;
  -fx-position: relative;
}

.top-icon {
  -fx-width: 80px;
  -fx-color: #ffffff;
  line--fx-height: 40px;
  -fx-cursor: pointer;
  -fx-border-radius: 8px;
  -fx-text-align: center;
  -fx-height: 40px;
  -fx-font-size: 12px;
  -fx-position: relative;
  -fx-top: 12px;
  -fx-display: flex;
  -fx-flex-direction: column;
  -fx-transform: scale(0.8);
}

.top-icon span {
  -fx-border-radius: 10px;
  -fx-position: relative;
  -fx-top: -10px;
  -fx-background-color: rgb(102, 105, 110);
  -fx-font-size: 15px;
  -fx-font-weight: 600;
}

.top-icon span:hover {
  -fx-box-shadow: 0px 0px 10px 0px rgba(23, 23, 26, 0.5);
  -fx-color: yellow;
}

.flex-list {
  -fx-display: flex;
  -fx-flex-direction: column;
  -fx-border-top: 1px solid rgb(32, 34, 37);
}

.top-left {
  -fx-position: relative;
}

.top-left .switching img{
  -fx-position: absolute;
  -fx-width: 40px;
  -fx-height: 40px;
  -fx-top: 5px;
  -fx-left: 5px;
}

.list-top {
  -fx-color: rgb(207, 197, 197);
  -fx-font-size: 14px;
  -fx-position: relative;
  -fx-background-color: rgb(47,52,58);
  -fx-height: 30px;
}

.top-right {
  -fx-position: absolute;
  -fx-right: 5px;
  -fx-top: 5px;
}

.top-right input {
  min--fx-width: 200px;
  -fx-border-radius: 5px;
  -fx-height: 40px;
  -fx-color: #ffffff;
  -fx-box-sizing: border-box;
  -fx-background-color: rgb(41, 42, 47);
  -fx-outline: none;
  -fx-border: 1px solid rgb(47, 48, 51);
  -fx-box-sizing: border-box;
  -fx-padding-left: 20px;
  -fx-font-size: 20px;
  -fx-position: relative;
}

.top-right .icon {
  -fx-width: 25px;
  -fx-position: absolute;
  -fx-right: 10px;
  -fx-top: -10px;
  -fx-cursor: pointer;
}

.backicon {
  -fx-width: 20px;
  -fx-position: relative;
  -fx-top: 5px;
  -fx-cursor: pointer;
  -fx-margin-left: 2px;
}

.backicon:hover path {
  -fx-fill: #ffffff;
}

.list-content {
  -fx-display: flex;
  -fx-flex-direction: column;
}

.list-content-item {
  -fx-border-top: 1px solid rgb(54, 58, 67);
  -fx-overflow: hidden;
}

.item-title {
  -fx-background-color: rgb(47, 52, 58);
  -fx-padding-left: 35px;
  -fx-position: relative;
  -fx-height: 30px;
  -fx-color: white;
  -fx-cursor: pointer;
  -fx-z-index: 10;
  -fx-padding-top: 3px;
  -fx-box-sizing: border-box;
}

.item-title img {
  -fx-display: inline-block;
  -fx-width: 15px;
  -fx-height: 15px;
  -fx-position: relative;
  -fx-left: -8px;
  -fx-top: 2px;
}

.item-title span {
  -fx-font-size: 12px;
  -fx-color: rgb(106, 165, 241);
  -fx-right: 0;
  -fx-position: absolute;
  -fx-margin-right: 15px;
}

.item-title:hover .item-titleicon {
  -fx-transition: all .5s;
  -fx-transform: rotate(90deg);
}

.list-content-item > .itemList1 > li::before {
  -fx-content: url;
  -fx-position: absolute;
  -fx-left: 55px;
  -fx-top: 3px;
}

.list-content-item > .itemList1 {
  -fx-background-color: rgb(38, 39, 44);
  -fx-position: relative;
  -fx-cursor: pointer;
  -fx-top: 1px;
  -fx-padding-top: 10px;
  -fx-padding-bottom: 5px;
  -fx-border-bottom: 1px solid rgb(54, 58, 67);
}

.list-content-item ul li {
  -fx-padding-left: 90px;
  -fx-alignment: relative;
  -fx-top: -5px;
  -fx-color: rgb(212, 212, 197);
  -fx-overflow: hidden;
  -fx-white-space: nowrap;
  -fx-text-overflow: ellipsis;
  -fx-border-radius: 10px;
}

.list-content-item ul li:hover  {
  -fx-background-color: rgb(55, 57, 65);
  -fx-color: yellow;
}

.list-content-item ul .meni-1:hover {
  -fx-background-color: rgb(38,39,44);
}

.flex-use {
  -fx-overflow-y: scroll;
  -fx-height: 100vh;
}

.flex-use-title {
  -fx-box-sizing: border-box;
  -fx-padding-left: 10px;
  -fx-color: rgb(247, 247, 247);
  -fx-background-color: rgb(95, 96, 97);
  -fx-border-radius: 3px 3px 0 0;
  -fx-height: 30px;
  line--fx-height: 30px;
  -fx-cursor: pointer;
  -fx-font-weight: 600;
}

.flex-use-title .icon{
  -fx-width: 20px;
  -fx-height: 20px;
  -fx-position: relative;
  -fx-top: 2px;
}

.flex-use-content-item {
  -fx-border-top: 1px solid rgb(255, 255, 255);
  -fx-overflow: hidden;
}

.flex-use-content-item:hover .flex-use-msg{
  -fx-height: 200px !important;
  -fx-opacity: 1;
  -fx-transition: all .3s;
}

.flex-use-item-title {
  -fx-background-color: rgb(47, 52, 58);
  -fx-padding-left: 45px;
  -fx-alignment: relative;
  -fx-height: 30px;
  line--fx-height: 30px;
  -fx-color: rgb(47, 52, 58);
  -fx-cursor: pointer;
  -fx-z-index: 10;
  -fx-font-size: 14px;
  -fx-text-fill: white;
}

.main-title-box {
  -fx-background-color: rgb(47, 52, 58);
  -fx-padding-left: 45px;
  -fx-alignment: relative;
  -fx-height: 30px;
  line--fx-height: 30px;
  -fx-color: rgb(113, 118, 118);
  -fx-cursor: pointer;
  -fx-z-index: 10;
  -fx-font-size: 14px;
  -fx-text-fill: white;
}

.item-titleicon {
  -fx-display: inline-block;
  -fx-width: 12px;
  -fx-height: 12px;
  -fx-alignment: relative;
  -fx-left: -8px;
  -fx-top: 0px;
}

.flex-use-item-title:hover .item-titleicon {
  -fx-transition: all .5s;
  -fx-transform: rotate(90deg);
}

.flex-use-msg {
  -fx-background-color: #0a0a0a38;
  -fx-color: white;
  -fx-font-size: 12px;
  -fx-height: 150px;
  -fx-border-bottom: 1px solid rgba(128, 128, 150, 0.5);
  -fx-height: 0;
  -fx-opacity: 0;
  -fx-transition: all .3s;
}

.cmd-center {
  -fx-width: 100%;
  -fx-height: 70vh;
  -fx-overflow-y: scroll;
}

.center-cmd textarea {
  -fx-width: 100%;
  -fx-height: 100%;
  -fx-background-color: rgb(15, 19, 24);
  -fx-outline: none;
  -fx-border: none;
  -fx-resize: none;
  -fx-color: #ffffff;
  -fx-font-size: 16px;
  -fx-box-sizing: border-box;
  -fx-overflow-Y: scroll;
}

#docelist li {
  -fx-padding-left: 90px !important;
  -fx-width: 100% !important;
  -fx-box-sizing: border-box !important;
}

#docelist {
  -fx-border: 1px solid rgba(0, 0, 0, 0.425);
}

.meni-1::before{
  -fx-content: '' !important;
}

.meni-1 {
  -fx-padding: 0 !important;
  -fx-width: 250px !important;
  -fx-font-size: 14px;
  -fx-width: 100% !important;
  -fx-border-radius: 0 !important;
}

.meni-1-title {
  -fx-padding-left: 50px;
  -fx-box-sizing: border-box;
  -fx-padding-bottom: 5px;
}

.meni-1 ul {
  -fx-display: flex;
  -fx-flex-direction: column;
  -fx-padding-top: 10px;
}

.meni-1 li{
  -fx-padding-top: 4px;
  -fx-width: 100% !important;
  -fx-alignment: relative;
  -fx-width: 200px !important;
}

.meni-1 li::before {
  -fx-content: url;
  -fx-alignment: relative;
  -fx-left: -5px;
  -fx-top: 2px;
}

.list-content-item > .itemList1 .item-List-menu .item-titleicon{
  -fx-width: 10px;
  -fx-height: 10px;
  -fx-alignment: relative;
  -fx-transition: all .3s;
}

.list-content-item > .itemList1 .item-List-menu:hover .item-titleicon {
  -fx-transform: rotate(90deg);
}

.list-content-itemes {
  -fx-display: flex;
  -fx-justify-content: space-around;
  -fx-align-items: center;
  -fx-margin-bottom: 10px;
}

.list-content-itemes span {
  -fx-text-align: center;
  -fx-color: #ffffff;
  -fx-border: 1px solid rgba(134, 143, 151, 0.6);
  -fx-border-radius: 10px;
  -fx-width: 100px;
}

.list-content-itemes span:hover {
  -fx-background-color: rgba(0, 0, 0, 0.3);
}

.taskbar {
  -fx-width: 100%;
  -fx-height: 30px;
  -fx-margin-top: 10px;
  -fx-background-color: #23242e;
  -fx-position: relative;
  -fx-top: -15px;
}

.taskbar-box {
  -fx-display: flex;
  -fx-box-sizing: border-box;
  -fx-position: relative;
}

.taskbar-item:hover {
  -fx-box-shadow: 0px -1px 5px 0px #6966664d;
}

.taskbar-item {
  -fx-position: relative;
  -fx-border-radius: 6px 15px 0 0;
  -fx-color: #ffffff;
  -fx-height: 30px;
  -fx-font-size: 12px;
  -fx-width: 150px;
  -fx-box-sizing: border-box;
  -fx-background-color: rgba(50, 50, 59, 0.815);
  -fx-margin-right: 2px;
}

.taskbar-item span {
  -fx-alignment: relative;
  -fx-top: 6px;
  -fx-padding-left: 10px;
  -fx-width: 130px;
  -fx-overflow: hidden;
  -fx-white-space: nowrap;
  -fx-text-overflow: ellipsis;
}

.taskbar-item-img {
  -fx-width: 15px;
  -fx-height: 15px;
  -fx-alignment: center;
  -fx-left: 10px;
  -fx-top: 5px;
}

.taskbar-item-img:hover path {
  -fx-text-fill: white;
}

#genericlabel {
  -fx-text-fill: #FFFFFF;
  -fx-padding: 5px;
}